html {
  background: url('https://source.unsplash.com/1600x900/?beach') bottom center;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
  height: 100vh;
}

header {
	display: flex;
	width: 600px;
	height: 50px;
	border: 20px solid red;
}

img {
	height: 100px;
	width: 100px;
}

